@import url('reset.css');

@font-face {
  font-family: "Century Gothic";
  src: url('gothic.ttf');
}

@font-face {
  font-family: "Century Gothic";
  font-weight: bold;
  src: url('gothic-bold.ttf');
}

/* Colors */
/* pale: #f4e9b8
   brown: #42210b
   tan: #774f27 */

html {
  background: #f4e9b8;
}

body {
  position: relative;
  margin: auto;
  padding-top: 40px;
  width: 940px;
  font-family: "Century Gothic", sans-serif;
}

h1, h2 {
  color: #42210b;
  font-weight: normal;
}

h1 /* logo */ {
  font-size: 99.79px;
  letter-spacing: -10px;
}

#strings {
  display: inline-block;
  margin-top: 40px;  
  width: 460px;
  height: 460px;
  position: relative;
}

  #strings > img /* mask */ {
    position: relative;
    z-index: 3;
    -webkit-transform: rotate(90deg);
  }

  #strings > div /* container */ {
    width: 460px;
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background: #42210b;
  }

.container {
  float: right;
  width: 400px;  
}

h2 {
  margin: 20px 0 10px;
  font-size: 36px;  
}

ul {
  list-style-type: none;
}

a {
  display: block;
  color: #774f27;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  -webkit-transition: color 0.5s ease-in;
}

a:hover {
  color: black;
}

  .container p img {
    display: block;
    width: 460px;
    height: 460px;
    position: absolute;
    top: 180px;
    left: 0;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
  }

  .container p a:hover + img {
    opacity: 1;
  }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
